service vendor.keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.samsung
    class early_hal
    user system
    group system drmrpc

on post-fs
    mkdir /mnt/vendor/efs/DAK 0775 system system
    restorecon -R /mnt/vendor/efs/DAK
    chown system system /mnt/vendor/efs/DAK/gakkeybox
    chmod 0644 /mnt/vendor/efs/DAK/gakkeybox

on post-fs-data
    mkdir /data/vendor/keymaster 0775 system system
