service samsung-software-media-c2-hal /vendor/bin/hw/android.software.media.c2-service.samsung
    class hal
    user mediacodec
    group camera mediadrm drmrpc
    ioprio rt 4
    task_profiles ProcessCapacityHigh

