service vendor.rebalance_interrupts-samsung /vendor/bin/rebalance_interrupts-samsung
    disabled
    oneshot
    user root
    group system

on early-boot
    start vendor.rebalance_interrupts-samsung

on property:sys.boot_completed=1
    start vendor.rebalance_interrupts-samsung
