on boot
    mkdir /dev/thermal 0750 system system
    mkdir /dev/thermal/tz-by-name 0750 system system
    mkdir /dev/thermal/cdev-by-name 0750 system system
    start vendor.thermal.symlinks

service vendor.thermal.symlinks /vendor/bin/thermal_symlinks
    user system
    group system
    oneshot
    disabled
