service samsung-software-media-c2-hal-1-0 /vendor/bin/hw/samsung.software.media.c2@1.0-service
    class hal
    user mediacodec
    group camera mediadrm drmrpc
    ioprio rt 4
    task_profiles ProcessCapacityHigh

