on post-fs-data
    mkdir /data/misc/display 0770 system system

service livedisplay-hal-2-0-samsung-qcom /system/bin/hw/lineage.livedisplay@2.0-service.samsung-qcom
    class late_start
    user system
    group system
