service vendor.health-samsung /vendor/bin/hw/android.hardware.health-service.samsung
    class hal
    user system
    group system
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w

service vendor.charger /vendor/bin/hw/android.hardware.health-service.samsung --charger
    class charger
    seclabel u:r:charger_vendor:s0
    user system
    group system wakelock input
    capabilities SYS_BOOT
    file /dev/kmsg w
    file /sys/fs/pstore/console-ramoops-0 r
    file /sys/fs/pstore/console-ramoops r
    file /proc/last_kmsg r

on charger
    chown system system /dev/graphics/fb0
