service vendor.usb-hal-1-3 /vendor/bin/hw/android.hardware.usb@1.3-service.gs101
    class hal
    user system
    group system shell mtp wakelock
    capabilities WAKE_ALARM BLOCK_SUSPEND

on post-fs
    chown root system /sys/class/typec/port0/power_role
    chown root system /sys/class/typec/port0/data_role
    chown root system /sys/class/typec/port0/port_type
    chown root system /sys/devices/platform/10d50000.hsi2c/i2c-5/i2c-max77759tcpc/contaminant_detection
    chown root system /sys/devices/platform/10d50000.hsi2c/i2c-6/i2c-max77759tcpc/contaminant_detection
    chown root system /sys/devices/platform/11110000.usb/dwc3_exynos_otg_b_sess
    chown root system /sys/devices/platform/11110000.usb/dwc3_exynos_otg_id
    chown root system /sys/devices/platform/11110000.usb/usb_data_enabled
    chmod 664 /sys/class/typec/port0/power_role
    chmod 664 /sys/class/typec/port0/data_role
    chmod 664 /sys/class/typec/port0/port_type
    chmod 664 /sys/devices/platform/11110000.usb/dwc3_exynos_otg_b_sess
    chmod 664 /sys/devices/platform/11110000.usb/dwc3_exynos_otg_id
    chmod 664 /sys/devices/platform/11110000.usb/usb_data_enabled

on property:vendor.usb.functions.ready=1
    chown system system /config/usb_gadget/
    chown system system /config/usb_gadget/g1
    chown system system /config/usb_gadget/g1/UDC
    chown system system /config/usb_gadget/g1/bDeviceClass
    chown system system /config/usb_gadget/g1/bDeviceProtocol
    chown system system /config/usb_gadget/g1/bDeviceSubClass
    chown system system /config/usb_gadget/g1/bMaxPacketSize0
    chown system system /config/usb_gadget/g1/bcdDevice
    chown system system /config/usb_gadget/g1/bcdUSB
    chown system system /config/usb_gadget/g1/configs
    chown system system /config/usb_gadget/g1/configs/b.1
    chown system system /config/usb_gadget/g1/configs/b.1/MaxPower
    chown system system /config/usb_gadget/g1/configs/b.1/bmAttributes
    chown system system /config/usb_gadget/g1/configs/b.1/strings
    chown system system /config/usb_gadget/g1/functions
    chown system system /config/usb_gadget/g1/functions/accessory.gs2
    chown system system /config/usb_gadget/g1/functions/acm.gs6
    chown system system /config/usb_gadget/g1/functions/acm.gs6/port_num
    chown system system /config/usb_gadget/g1/functions/acm.uwb0
    chown system system /config/usb_gadget/g1/functions/acm.uwb0/port_num
    chown system system /config/usb_gadget/g1/functions/audio_source.gs3
    chown system system /config/usb_gadget/g1/functions/dm.gs7
    chown system system /config/usb_gadget/g1/functions/ffs.adb
    chown system system /config/usb_gadget/g1/functions/ffs.mtp
    chown system system /config/usb_gadget/g1/functions/ffs.ptp
    chown system system /config/usb_gadget/g1/functions/midi.gs5
    chown system system /config/usb_gadget/g1/functions/midi.gs5/buflen
    chown system system /config/usb_gadget/g1/functions/midi.gs5/id
    chown system system /config/usb_gadget/g1/functions/midi.gs5/in_ports
    chown system system /config/usb_gadget/g1/functions/midi.gs5/index
    chown system system /config/usb_gadget/g1/functions/midi.gs5/out_ports
    chown system system /config/usb_gadget/g1/functions/midi.gs5/qlen
    chown system system /config/usb_gadget/g1/functions/mtp.gs0
    chown system system /config/usb_gadget/g1/functions/mtp.gs0/os_desc
    chown system system /config/usb_gadget/g1/functions/mtp.gs0/os_desc/interface.MTP
    chown system system /config/usb_gadget/g1/functions/mtp.gs0/os_desc/interface.MTP/compatible_id
    chown system system /config/usb_gadget/g1/functions/mtp.gs0/os_desc/interface.MTP/sub_compatible_id
    chown system system /config/usb_gadget/g1/functions/ncm.gs9
    chown system system /config/usb_gadget/g1/functions/ncm.gs9/dev_addr
    chown system system /config/usb_gadget/g1/functions/ncm.gs9/host_addr
    chown system system /config/usb_gadget/g1/functions/ncm.gs9/ifname
    chown system system /config/usb_gadget/g1/functions/ncm.gs9/os_desc
    chown system system /config/usb_gadget/g1/functions/ncm.gs9/os_desc/interface.ncm
    chown system system /config/usb_gadget/g1/functions/ncm.gs9/os_desc/interface.ncm/compatible_id
    chown system system /config/usb_gadget/g1/functions/ncm.gs9/os_desc/interface.ncm/sub_compatible_id
    chown system system /config/usb_gadget/g1/functions/ncm.gs9/qmult
    chown system system /config/usb_gadget/g1/functions/ptp.gs1
    chown system system /config/usb_gadget/g1/functions/ptp.gs1/os_desc
    chown system system /config/usb_gadget/g1/functions/ptp.gs1/os_desc/interface.MTP
    chown system system /config/usb_gadget/g1/functions/ptp.gs1/os_desc/interface.MTP/compatible_id
    chown system system /config/usb_gadget/g1/functions/ptp.gs1/os_desc/interface.MTP/sub_compatible_id
    chown system system /config/usb_gadget/g1/functions/rndis.gs4
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/class
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/dev_addr
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/host_addr
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/ifname
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/os_desc
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/os_desc/interface.rndis
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/os_desc/interface.rndis/compatible_id
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/os_desc/interface.rndis/sub_compatible_id
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/protocol
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/qmult
    chown system system /config/usb_gadget/g1/functions/rndis.gs4/subclass
    chown system system /config/usb_gadget/g1/idProduct
    chown system system /config/usb_gadget/g1/idVendor
    chown system system /config/usb_gadget/g1/max_speed
    chown system system /config/usb_gadget/g1/os_desc
    chown system system /config/usb_gadget/g1/os_desc/b.1
    chown system system /config/usb_gadget/g1/os_desc/b_vendor_code
    chown system system /config/usb_gadget/g1/os_desc/qw_sign
    chown system system /config/usb_gadget/g1/os_desc/use
    chown system system /config/usb_gadget/g1/strings
    chown system system /config/usb_gadget/g1/strings/0x409
    chown system system /config/usb_gadget/g1/strings/0x409/manufacturer
    chown system system /config/usb_gadget/g1/strings/0x409/product
    chown system system /config/usb_gadget/g1/strings/0x409/serialnumber
