<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings.device"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="26"/>

    <application
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".SamsungDozeService"
                 android:permission="SamsungDozeService">
        </service>

        <activity
            android:name=".SamsungDozeActivity"
            android:label="@string/ambient_display_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="org.lineageos.settings.device.DOZE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
